section .botones a, section .tarjetas div a, .principal a, main a {
  text-decoration: none;
  color: rgb(224, 226, 225);
  background-color: rgb(110, 37, 116);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video .videotext, .principal p {
  color: rgb(110, 37, 116);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  margin: 20px;
}

section h2, .combos h2, main h2 {
  color: rgb(224, 226, 225);
  background-color: rgb(110, 37, 116);
  font-size: 25px;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 226, 225);
}

main img {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 680px) {
  .principal {
    height: 700px;
  }
  main section {
    width: 100%;
    height: 100%;
  }
  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video iframe {
    width: 90%;
  }
  .video .videotext {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cocinadeco {
    display: block;
    text-align: center;
  }
  .cocinadeco img {
    width: 50%;
    height: 50%;
  }
  Body .combos .gridcombos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px 200px;
    column-gap: 10px;
    grid-template-areas: "tit1 platos" "tit2 sushi" "tit3 toilette";
  }
  .formcombo div label {
    display: flex;
    flex-direction: column;
  }
  body .unicas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 200px 200px 200px 200px;
    column-gap: 5px;
    margin: 20px 10px 20px 10px;
    grid-template-areas: "festejo festejo" "evento eve1" "evento eve5" "evento eve4" "eve2 eve3";
  }
  body .festejo h3 {
    font-size: 20px;
    margin: 5px;
  }
  body .festejo p {
    font-size: 15px;
    margin: 5px;
  }
  .hablacon div {
    display: flex;
    flex-direction: column;
  }
}
main .cocinadeco {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .cocinadeco h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(110, 37, 116);
  font-size: 20px;
  margin: 20px;
}
main .cocinadeco div img {
  width: 250px;
  height: 250px;
}
main a {
  width: fit-content;
  display: block;
  text-align: center;
  margin: 20px auto;
}

.cocinadeco .carousel {
  position: relative;
}
.cocinadeco .carousel .carousel-control-prev,
.cocinadeco .carousel .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}
.cocinadeco .carousel .carousel-control-prev-icon,
.cocinadeco .carousel .carousel-control-next-icon {
  background-color: rgb(110, 37, 116);
  border-radius: 50%;
  padding: 15px;
  background-size: 60%, 60%;
}
.cocinadeco .carousel .carousel-control-prev-icon:hover,
.cocinadeco .carousel .carousel-control-next-icon:hover {
  background-color: rgb(0, 123, 255);
}
.cocinadeco .carousel .carousel-inner div img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.combos .gridcombos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px;
  column-gap: 10px;
  grid-template-areas: "tit1 sushi tit3" "platos sushi toilette" "platos tit2 toilette";
}
.combos .gridcombos h3 {
  color: rgb(110, 37, 116);
}
.combos .gridcombos img {
  width: 100%;
  height: 100%;
}
.combos .gridcombos .tit1,
.combos .gridcombos .tit2,
.combos .gridcombos .tit3 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.combos .gridcombos .tit1 {
  grid-area: tit1;
}
.combos .gridcombos .tit2 {
  grid-area: tit2;
}
.combos .gridcombos .tit3 {
  grid-area: tit3;
}
.combos .gridcombos .platos {
  grid-area: platos;
}
.combos .gridcombos .sushi {
  grid-area: sushi;
}
.combos .gridcombos .toilette {
  grid-area: toilette;
}
.combos .formcombo {
  color: rgb(110, 37, 116);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.combos .formcombo .vamos {
  margin: 20px;
  background-color: rgb(110, 37, 116);
  color: rgb(224, 226, 225);
  padding: 10px 20px;
}

footer {
  background-color: rgb(223, 197, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div a {
  display: block;
}
footer div img {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease;
}
footer div img:hover {
  transform: rotate(360deg);
}
footer img {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease;
}
footer img:hover {
  transform: rotate(360deg);
}

.hablacon {
  color: rgb(110, 37, 116);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hablacon .btn {
  color: rgb(224, 226, 225);
  background-color: rgb(110, 37, 116);
}
.hablacon div {
  display: block;
  text-align: center;
  margin: 20px;
}

header {
  background-color: rgb(224, 226, 225);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease;
}
header img:hover {
  transform: rotate(360deg);
}
header nav ul li {
  display: inline-block;
  margin-right: 20px;
  color: rgb(110, 37, 116);
}
header nav ul li a {
  text-decoration: none;
  color: rgb(110, 37, 116);
}
header nav ul li a:hover {
  background-color: rgb(110, 37, 116);
  color: rgb(224, 226, 225);
  transition-duration: 0.5s;
}

.principal {
  background-image: url(../img/backhero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal h1 {
  color: rgb(110, 37, 116);
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  padding: 0px 10px 20px 10px;
}
.video {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video iframe {
  margin: 20px;
  width: 25%;
}
.video .videotext {
  width: 60%;
  padding: 20px;
}

section {
  width: 100%;
  height: 100%;
}
section .tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .tarjetas div {
  margin-right: 40px;
  text-align: center;
  border: 2px solid rgb(110, 37, 116);
  width: 304px;
  height: 450px;
}
section .tarjetas div img {
  width: 300px;
  height: 300px;
}
section .tarjetas div h3 {
  color: rgb(110, 37, 116);
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
.unicas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px 200px;
  column-gap: 0px;
  margin: 10px 20px 10px 20px;
  grid-template-areas: "evento eve1 festejo" "evento eve5 festejo" "evento eve4 festejo" "eve2 eve3 festejo";
}
.unicas .festejo {
  grid-area: festejo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unicas .festejo h3 {
  font-size: 25px;
  font-style: italic;
  color: rgb(110, 37, 116);
}
.unicas .festejo p {
  font-size: 20px;
  color: rgb(110, 37, 116);
}
.unicas img {
  width: 80%;
  height: 200px;
}
.unicas .evento {
  grid-area: evento;
  height: 100%;
}
.unicas .eve1 {
  grid-area: eve1;
}
.unicas .eve2 {
  grid-area: eve2;
}
.unicas .eve3 {
  grid-area: eve3;
}
.unicas .eve4 {
  grid-area: eve4;
}
.unicas .eve5 {
  grid-area: eve5;
}

/*# sourceMappingURL=estilos.css.map */
