* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(110, 37, 116);
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    padding: 0px 10px 20px 10px;
}

body {
    background-color: rgb(224, 226, 225);
}

header {
    background-color: rgb(224, 226, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
    display: inline-block;
    transition: transform 0.5s ease;
}

header img:hover {
    transform: rotate(360deg);
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: #6e2575;
}

header nav ul li a {
    text-decoration: none;
    color: #6e2575;
}

header nav ul li a:hover {
    background-color: #6e2575;
    color: #e0e2e1;
}

main section {
    width: 100%;
    height: 100%;
}

main img {
    width: 250px;
    height: 250px;
}

main h2 {
    color: #e0e2e1;
    background-color: #6e2575;
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetas div {
    margin-right: 40px;
    text-align: center;
    border: 2px solid #6e2575;
    width: 304px;
    height: 450px;

}

.tarjetas img {
    width: 300px;
    height: 300px;
}

main h3 {
    color: #6e2575;
    font-size: 20px;
    margin: 20px;
}

main a {
    text-decoration: none;
    color: #ffffff;
    background-color: #6e2575;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

/*class*/
.principal {
    background-image: url(../img/backhero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal p {
    color: #6e2575;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin: 20px;
}

.video {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

iframe {
    margin: 20px;
    width: 25%;
}

.videotext {
    width: 60%;
    color: #6e2575;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: hsl(294, 34%, 83%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 100px;
    height: 100px;
    display: inline-block;
    transition: transform 0.5s ease;
}

footer img:hover {
    transform: rotate(360deg);
}

footer div a {
    display: block;
}

/*cocina deco*/
.cocinadeco div img {
    width: 250px;
    height: 250px;
}

.cocinadeco h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #6e2575;
  border-radius: 50%;
  padding: 15px;
  background-size: 60%, 60%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 123, 255, 1);
}

/*combos*/
.gridcombos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    column-gap: 10px;
    grid-template-areas: "tit1 sushi tit3"
        "platos sushi toilette"
        "platos tit2 toilette";
}

.combos div img {
    width: 100%;
    height: 100%;
}

.tit1 {
    grid-area: tit1;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tit2 {
    grid-area: tit2;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tit3 {
    grid-area: tit3;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.platos {
    grid-area: platos;
}

.sushi {
    grid-area: sushi;
}

.toilette {
    grid-area: toilette;
}

.formcombo {
    color: #6e2575;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vamos {
    margin: 20px;
    background-color: #6e2575;
    color: #ffffff;
}

/*unicas*/
.unicas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    column-gap: 20px;
    margin: 40px 20px 40px 20px;
    grid-template-areas: "evento eve1 festejo"
        "evento eve5 festejo"
        "evento eve4 festejo"
        "eve2 eve3 festejo";
}

.unicas img {
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;
}

.festejo {
    grid-area: festejo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evento {
    grid-area: evento;
}

.eve1 {
    grid-area: eve1;
}

.eve2 {
    grid-area: eve2;
}

.eve3 {
    grid-area: eve3;
}

.eve4 {
    grid-area: eve4;
}

.eve5 {
    grid-area: eve5;
}

.festejo h3 {
    font-size: 25px;
    font-style: italic;
}

.festejo p {
    font-size: 20px;
}

/*habla con*/
.hablacon {
    color: #6e2575;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hablacon h2 {
    display: flex;
    align-items: stretch;
}

.btn {
    color: #e0e2e1;
    background-color: #6e2575;
}

main div {
    display: block;
    text-align: center;
    margin: 20px
}


@media screen and (max-width:680px) {
    header nav ul li {
        display: block;
        margin-right: 10px;
    }

    .principal {
        height: 700px;
    }

    main section {
        width: 100%;
        height: 100%;
    }

    .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video iframe {
        width: 90%;
    }

    .videotext {
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cocinadeco {
        display: block;
        text-align: center;
    }

    .cocinadeco img {
        width: 50%;
        height: 50%;
    }

    .gridcombos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 200px 200px;
        column-gap: 10px;
        grid-template-areas: "tit1 platos"
            "tit2 sushi"
            "tit3 toilette";
    }

    .formcombo div label {
        display: flex;
        flex-direction: column;
    }

    .unicas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 200px 200px 200px 200px;
        column-gap: 5px;
        margin: 20px 10px 20px 10px;
        grid-template-areas: "festejo festejo"
            "evento eve1"
            "evento eve5"
            "evento eve4"
            "eve2 eve3";
    }

    .festejo h3 {
        font-size: 20px;
        margin: 5px;
    }

    .festejo p {
        font-size: 15px;
        margin: 5px;
    }

    .hablacon div {
        display: flex;
        flex-direction: column;
    }
}