.combos {
  h2 {
    @extend %titulo;
  }

  .gridcombos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    column-gap: 10px;
    grid-template-areas:
      "tit1 sushi tit3"
      "platos sushi toilette"
      "platos tit2 toilette";

      h3{
        color: $color-principal;
      }

      img {
        width: 100%;
        height: 100%;
        border: 1px solid $color-principal;
        box-shadow: 9px 9px 2px 1px rgba(0, 0, 0, 0.2);
      }
      img:hover {
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
      }

    .tit1,
    .tit2,
    .tit3 {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tit1 { grid-area: tit1; }
    .tit2 { grid-area: tit2; }
    .tit3 { grid-area: tit3; }

    .platos { grid-area: platos; }
    .sushi { grid-area: sushi; }
    .toilette { grid-area: toilette; }
  }

  .formcombo {
    margin-top: 20px;
    color: $color-principal;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .vamos {
      margin: 20px;
      background-color: $color-principal;
      color: $color-secundario;
      padding: 10px 20px;
      }
    }
  }