.principal {
    background-image: url(../img/backhero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $color-principal;
        font-size: 40px;
        text-align: center;
        text-decoration: underline;
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        padding: 0px 10px 20px 10px;
    }

    p {
        @extend %parrafo;

    }

    a {
        @extend %boton;
    }
}

.video {
    display: flex;
    justify-content: space-around;
    align-items: center;

    iframe {
        margin: 20px;
        width: 25%;
    }

    .videotext {
        width: 60%;
        padding: 20px;
        @extend %parrafo;
    }
}

section {
    width: 100%;
    height: 100%;

    h2 {
        @extend %titulo;
    }

    .tarjetas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
            margin-right: 40px;
            text-align: center;
            border: 2px solid $color-principal;
            width: 304px;
            height: 450px;
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);

            img {
                width: 300px;
                height: 300px;
            }

            h3 {
                color: $color-principal;
                font-size: 20px;
                margin: 20px;
                text-align: center
            }

            a {
                @extend %boton;
            }
        }

    }

    .botones a {
        @extend %boton;
    }

}