@media screen and (max-width: 680px) {

  .principal {
    height: 700px;
  }

  main {
    .video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      iframe {
        width: 90%;
      }

      .videotext {
        font-size: 20px;
        padding: 0;
        margin: 0;
      }
    }

    section {
      .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
          margin: 10px 0;
        }
      }
    }
  }

  Body {
    .combos {
      .gridcombos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 200px 200px;
        column-gap: 10px;
        grid-template-areas: "tit1 platos"
          "tit2 sushi"
          "tit3 toilette";
          img{
            box-shadow: none;
          }
      }
    }

    .formcombo {
      div {
        label {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  body {
    .unicas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 300px 200px 200px 200px 200px;
      column-gap: 5px;
      margin: 20px 10px 20px 10px;
      grid-template-areas: "festejo festejo"

        "evento eve1"
        "evento eve5"
        "evento eve4"
        "eve2 eve3";

      .festejo {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 13px;
        }
      }
    }
  }
  body{
    .hablacon{
      .text-end{
        margin-right: 10px;
      }
    }
  }
}